<a href="https://colab.research.google.com/github/caplove/EXCEL_pjt/blob/master/Pandas_pratice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas library training 191011

인터넷에서 주가 data 획득

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s=pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates=pd.date_range('20191011',periods=6)

In [7]:
dates

DatetimeIndex(['2019-10-11', '2019-10-12', '2019-10-13', '2019-10-14',
               '2019-10-15', '2019-10-16'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2019-10-11 -1.741585 -0.976826  0.070455 -0.740127
2019-10-12 -1.568623 -0.073487  1.150137  2.146472
2019-10-13 -0.372577 -0.709865 -0.724076 -0.106583
2019-10-14 -0.463705 -0.243991  2.042249  0.552166
2019-10-15 -0.478394 -0.666619  0.613438  1.025835
2019-10-16 -0.719623  0.570035  1.260926  0.648529

In [ ]:
df=pd.DataFrame(np.random.randn(6,5),index=dates,columns=list('ABCDE'))

In [ ]:
df

                   A         B         C         D         E
2019-10-11 -0.266152  0.153842  0.313209  0.236465  1.444318
2019-10-12 -0.246802 -0.022437  0.291763 -0.527105  0.706413
2019-10-13 -1.434861  0.647233 -0.660115 -0.560984 -0.074590
2019-10-14  1.137588 -0.296215  1.852838  0.015786 -0.182411
2019-10-15 -0.977959 -2.208763 -0.182952  0.724570 -0.996479
2019-10-16  0.414220 -0.150492 -1.780510 -0.533957 -1.659130

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'foo'})

In [ ]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [ ]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [ ]:
df2.head(1)

     A          B    C  D     E    F
0  1.0 2013-01-02  1.0  3  test  foo

In [ ]:
df2.tail()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [ ]:
df2.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [ ]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [ ]:
df2.T

                     0  ...                    3
A                    1  ...                    1
B  2013-01-02 00:00:00  ...  2013-01-02 00:00:00
C                    1  ...                    1
D                    3  ...                    3
E                 test  ...                train
F                  foo  ...                  foo

[6 rows x 4 columns]

In [ ]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.sort_index(axis=1)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2=pd.DataFrame('A':(1,2,3,4),)

SyntaxError: ignored

In [ ]:
df2.apply(np.cumsum)

ValueError: ignored

In [ ]:
df

                   A         B         C         D         E
2019-10-11 -0.266152  0.153842  0.313209  0.236465  1.444318
2019-10-12 -0.246802 -0.022437  0.291763 -0.527105  0.706413
2019-10-13 -1.434861  0.647233 -0.660115 -0.560984 -0.074590
2019-10-14  1.137588 -0.296215  1.852838  0.015786 -0.182411
2019-10-15 -0.977959 -2.208763 -0.182952  0.724570 -0.996479
2019-10-16  0.414220 -0.150492 -1.780510 -0.533957 -1.659130

In [ ]:
df.apply(np.cumsum)

                   A         B         C         D         E
2019-10-11 -0.266152  0.153842  0.313209  0.236465  1.444318
2019-10-12 -0.512954  0.131406  0.604972 -0.290640  2.150731
2019-10-13 -1.947815  0.778639 -0.055143 -0.851624  2.076142
2019-10-14 -0.810227  0.482424  1.797695 -0.835838  1.893731
2019-10-15 -1.788186 -1.726339  1.614743 -0.111268  0.897251
2019-10-16 -1.373966 -1.876831 -0.165767 -0.645225 -0.761879

In [ ]:
df.apply(np.cumsum)

                   A         B         C         D         E
2019-10-11 -0.266152  0.153842  0.313209  0.236465  1.444318
2019-10-12 -0.512954  0.131406  0.604972 -0.290640  2.150731
2019-10-13 -1.947815  0.778639 -0.055143 -0.851624  2.076142
2019-10-14 -0.810227  0.482424  1.797695 -0.835838  1.893731
2019-10-15 -1.788186 -1.726339  1.614743 -0.111268  0.897251
2019-10-16 -1.373966 -1.876831 -0.165767 -0.645225 -0.761879

In [ ]:
df3=df.apply(np.cumsum)

In [ ]:
df3

                   A         B         C         D         E
2019-10-11 -0.266152  0.153842  0.313209  0.236465  1.444318
2019-10-12 -0.512954  0.131406  0.604972 -0.290640  2.150731
2019-10-13 -1.947815  0.778639 -0.055143 -0.851624  2.076142
2019-10-14 -0.810227  0.482424  1.797695 -0.835838  1.893731
2019-10-15 -1.788186 -1.726339  1.614743 -0.111268  0.897251
2019-10-16 -1.373966 -1.876831 -0.165767 -0.645225 -0.761879

In [ ]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df

                   A         B         C         D         E
2019-10-11 -0.266152  0.153842  0.313209  0.236465  1.444318
2019-10-12 -0.246802 -0.022437  0.291763 -0.527105  0.706413
2019-10-13 -1.434861  0.647233 -0.660115 -0.560984 -0.074590
2019-10-14  1.137588 -0.296215  1.852838  0.015786 -0.182411
2019-10-15 -0.977959 -2.208763 -0.182952  0.724570 -0.996479
2019-10-16  0.414220 -0.150492 -1.780510 -0.533957 -1.659130

In [ ]:
df4=df+df3

In [ ]:
df4

                   A         B         C         D         E
2019-10-11 -0.532304  0.307684  0.626418  0.472929  2.888636
2019-10-12 -0.759756  0.108969  0.896736 -0.817745  2.857145
2019-10-13 -3.382675  1.425872 -0.715258 -1.412608  2.001552
2019-10-14  0.327361  0.186210  3.650533 -0.820051  1.711320
2019-10-15 -2.766145 -3.935103  1.431791  0.613302 -0.099228
2019-10-16 -0.959745 -2.027322 -1.946277 -1.179182 -2.421009

In [ ]:
df4.value_count()

AttributeError: ignored

In [ ]:
s=pd.Series(np.random.randint(1,15,size=10))

In [ ]:
s

0    12
1    11
2    13
3     3
4     1
5     3
6    10
7     1
8    14
9     2
dtype: int64

In [ ]:
s.value_counts()

3     2
1     2
14    1
13    1
12    1
11    1
10    1
2     1
dtype: int64

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

In [ ]:
df

          0         1         2         3
0  0.225433  0.259777  0.105152 -0.180572
1 -1.193082  2.276465  1.291560  0.319869
2  0.866471 -2.110801 -0.926067 -0.753557
3  1.267307  0.715845 -1.069126  0.631695
4  0.001810  0.939228  0.569951  0.348782
5 -1.562659  0.442023  0.648889 -0.158840
6 -0.117407 -0.341256  0.255847 -0.993731
7  1.780873  0.370078  0.662150 -0.669672
8 -0.478378 -0.688188 -0.442787 -0.447027
9  0.014196 -1.586924  0.393787 -0.584933

In [ ]:
df2=pd.DataFrame(np.random.np.random.randn(20,4))

In [ ]:
df2

           0         1         2         3
0  -0.164033  0.148292 -1.678772  1.729088
1   0.893534 -2.074257  1.397870  1.306678
2   0.655482 -2.593425 -1.155621 -0.732148
3   0.438030  1.220045 -2.472457  0.340097
4  -0.664998  0.502012  0.143687  0.295783
5  -0.567733 -0.166090 -0.512300  0.861720
6  -0.258359 -1.528288 -0.685330 -0.185055
7  -0.237913  0.161538  0.190850 -0.722239
8  -1.387430 -1.794802  0.878112  0.606693
9   0.759645 -0.006565 -0.246555 -0.120735
10  0.434636  0.383287  1.507718 -0.347034
11  1.039648  1.402609  1.412527 -0.797932
12  1.989489 -0.884600  0.829933 -1.107880
13  2.339307 -0.375668 -1.507212 -0.350591
14 -1.027998 -0.702197 -1.229489  0.658366
15  1.042290  0.968855  0.641414  0.010967
16 -0.891549 -0.671850  0.350224  0.596482
17 -0.110843 -0.710957  0.225021  1.174238
18  0.027178 -0.019787  1.391080 -1.021434
19  0.737162  0.592210 -1.189942 -0.193092